
/* .container {
    display: grid; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-rows: 50px 50px; */
    /* grid-template-rows: repeat(2, 50px); */
    /* short */
    /* grid-template: repeat(2, 50px) / repeat(3, 1fr);
    gap: 3px; */
/* } */

/* .container{
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template:40px auto 40px / repeat(12, 1fr);
    grid-template-areas: "m h h h h h h h h h h ."
                         "m c c c c c c c c c c c"
                         ". f f f f f f f f f f .";
} */

/* .header{ */
    /* grid-column-start: 1; */
    /* grid-column-end: 13; */
    /* grid-column-end: -1; */
    /* grid-column-end: span 12; */
    /* grid-column: 2 / -1; */
    /* grid-area: h;
}
.content{ */
    /* grid-column: 2 / -1; */
    /* grid-area: c;
} */
/* .menu{ */
    /* grid-row: 1 / 3; */
    /* grid-area: m;   
}
.footer{ */
    /* grid-column: 1 / -1; */
    /* grid-area: f;
} */


/* .container{
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));  */
    /* grid-template-rows: repeat(2, 100px); */
    /* grid-auto-rows: 100px;
    grid-auto-flow: dense;
} */

.vertical{
    /* grid-row: auto / span 2; */
    grid-row: span 2;
}

.horizontal{
    /* grid-column: auto / span 2; */
    grid-column: span 2;
}

.big{
    grid-column: span 2;
    grid-row: span 2;
}

.container{
    height: 100%;
    display: grid;
    gap: 3px;
    grid-template-columns: [main-start]1fr [content-start] 5fr[content-end main-end];
    grid-template-rows: [main-start]50px [content-start] auto [content-end] 50px [main-end];
}

.container > .header{
    /* grid-column: main-start / main-end; */
    display: flex;
    grid-column: main;
    justify-content: start;
    font-size: 20px;
    padding: 10px 20px;
}

.container > .header :nth-child(3){
    margin-left: auto;

}

.content {
    grid-area: content;
}

.footer{
    /* grid-column: main-start / main-end; */
    grid-column: main;
}

.flexbox-header{
    display: flex;
}

.flexbox-header  :nth-child(3){
    margin-left: auto;
}
/* 
.container{
    height: 100%;
    display: grid;
    gap: 3px;
    border: 1px solid #000;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.last{
    justify-self: end;
    align-self: end;
} */